<!--<div class="col-sm-6 col-lg-4 col-xl-4">-->
<!--    <div class="chart">-->
<!--        <app-line-chart></app-line-chart>-->
<!--    </div>-->
<!--    <div class="chart">-->
<!--        <app-line-chart-2></app-line-chart-2>-->
<!--    </div>-->
<!--    <div class="chart">-->
<!--        <app-line-chart-test4></app-line-chart-test4>-->
<!--    </div>-->
<!--</div>-->

<!--<div>-->
<!--<app-line-chart-test3></app-line-chart-test3>-->
<!--</div>-->

<div>
    <edg-line-chart></edg-line-chart>
</div>
