/* You can add global styles to this file, and also import other style files */
.trend-type{
    fill: grey;
    font-family: sans-serif;
    font-size: 12px;
}

.line {
    fill: none;
    stroke: #FE0600;
    stroke-width: 3;
}

.y1-axis line{
    stroke: red;
}

.y1-axis path{
    stroke: red;
}

.y1-axis text{
    fill: red;
}
